{% extends 'produto/base.html' %}
{% block content %}
    <form class="form-group" action="" id="opcaoProduto" method="POST">
        {% csrf_token %}
        <div class="text-left" style="border: 15px solid #4e555b" ;>
            <div style="margin-left:  1%">
                <h3>Escolha o produto que deseja excluir:</h3> <br>
                <label for="input"><select class="form-control" name="opcaoProduto" form=opcaoProduto>
                    {% for prod in produtos %}
                        <option value={{ prod.codigo }}> {{ prod.codigo }} - {{ prod.nome }} </option>
                    {% endfor %}
                </select></label>
                <input id="input" class="btn btn-primary" type="submit" value="Deletar">

            </div>
        </div>
        <br>
    </form>
{% endblock %}