{% extends 'produto/base.html' %}
{% block content %}
    {% if listarProdutos == True %}
        <div class="text-left" style="border: 15px solid #4e555b" ;>
            <div style="margin-left:  1%">
                {% for prod in produtos %}
                    <h5><strong>Produto #{{ forloop.counter }}:</strong></h5>
                    <ul>
                        <li>Código: {{ prod.codigo }} </li>
                        <li>Nome: {{ prod.nome }} </li>
                        <li> Categoria: {{ prod.categoria }} </li>
                        <li> Quantidade: {{ prod.quantidade }} </li>
                        <li> Preço: {{ prod.preco }} </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}